.header {
    background: $dark;
    padding: 20px;
    .float {
        .logo {
            text-align: center;
            float: left;
            width: 100%;
            font-size: 2em;
            font-family: $fancy;
            color: $orange;
        }
        .option {
            float: right;
            margin: 20px auto;
            width: 100%;
            .search {
                text-align: center;
                display: flex;
                input {
                    width: 80%;
                    height: 40px;
                    padding: 1em;
                    border: none;
                    border-radius: 5px 0 0 5px;
                    outline: none;
                }
                .btn {
                    background: $orange;
                    width: 20%;
                    height: 40px;
                    padding: 1em;
                    border: none;
                    border-radius: 0 5px 5px 0;
                    outline: none;
                    cursor: pointer;
                }
            }
            .fail {
                transition: 500ms;
                opacity: 0;
                color: $red;
                text-align: center;
                font-size: 1.25em;
            }
        }
        &:after {
            content: "";
            clear: both;
            display: table;
        }
    }
}

@media screen and (min-width: 600px){
    .header {
        .float {
            .logo {
                text-align: left;
                width: 75%;
            }
            .option {
                margin: 0 auto;
                width: 25%;
                .fail {
                    text-align: right;
                }
            }
        }
    }
}